*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    margin: 5px 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.left-navbar{
    width: 210px;
}
.left-navbar img{
    width: 200px;
}

.right-navbar ul{
    display: flex;

}

