* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popinns", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(#f1c40f 50%, #27ae60 50%);

}

.main {
    font-size: 2rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    font-size: 2rem;
    width: 50rem;
    /* border: 1px solid black; */
    margin-top: 5rem;
    padding: 1rem;
    background-color: #f2f4f6;
    border-radius: .5rem;
    box-shadow: .2px .2px 3px 3px rgba(0, 0, 0, .2);
}

.container p {
    text-align: center;
    margin-top: 1rem;
}

.input_container {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.input_container input {
    border: 0;
    outline: none;
    width: 80%;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
}

.input_container input:focus {
    outline: none;
    border-bottom: 1px solid #2980b9;
}

.input_container button {
    border-radius: .5rem;
    width: 5rem;
    border: 0;
    outline: none;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
}

#error {
    text-align: center;
    font-size: 2rem;
    display: none;
    background-color: white;
    width: 50rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    box-shadow: .1rem .1rem 1rem .5rem rgba(76, 75, 75, 0.2);
    color: red;
    background: linear-gradient(rgb(235, 174, 174), rgb(237, 175, 175));
}

.task {
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .5rem .5rem rgba(69, 69, 69, 0.1);

}

.fa-pen-to-square,
.fa-trash {
    cursor: pointer;

}

.fa-pen-to-square {
    color: #1e3799;
}

.fa-trash {
    color: #eb2f06;
}

.task input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.complete{
    color: #8d8a8a;
    position: relative;
    display: inline-block;
}
