*{
    margin: 0%;
    padding: 0%;
}

nav ul{
    list-style: none;
}

nav{
    background-color: black;
    color: white;
    margin: 0%;
    padding: 12px 16px;
    height: 4vh;
    font-size: 20px;
    font-family: 'Baloo Bhaina 2';
}

.gamecontainer{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.line{
    background-color: rgb(197, 26, 26);
    width: 0;
    height: 5px;
    position: absolute;
    transition: 1s ease-in-out;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(158, 191, 219);
}

.gameinfo{
    padding: 0 35px;
}

.img img{
    width: 0;
    transition: 1s ease-in-out;
    padding: 8px;
    height: 200px;
    margin: 8px;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left:  0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 16px 25px;
    padding: 2px 8px;
    background-color: rgb(57, 69, 199);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.info{
    font-family: 'Baloo Bhaina 2';
    font-size: 30px;
}

@media screen and (max-width : 600px){
    .gamecontainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
    .gameinfo h1{
        font-size: 30px;
    }
    .container{
        display: grid;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
        font-family: sans-serif;
    }
}